:host {
  display: block;
}

.header_details{
  height: 20dvh;
  background-size: cover;
  background-position: center 35%;
  }

  @media screen and (max-width: 768px) {
    .header_details{
      min-height: 220px;
    }
  }
