<section class="hero header_details" [style.background-image]="backgroundImage">
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="">
      <h1 class="text-2xl md:text-5xl text-center font-bold mb-4 text-white text-shadow">
        {{ titleIframe() }}
      </h1>
      @if (descriptionIframe() != '') {
        <p class="mb-5">
          {{ descriptionIframe() }}
          <br />
        </p>
      }
      <tm-button (click)="redirectWhatsApp()" type="secondary">!Quiero cotizar¡</tm-button>
    </div>
  </div>
</section>
<section class="container mx-auto">
  <div class="">
    @if (urlIframe()) {
      <iframe [src]="urlIframe()!" class="w-full" frameborder="0"></iframe>
    } @else {
      <div class="p-6 text-center text-base-content/70">No se pudo cargar la informacion.</div>
    }
  </div>
</section>

<!-- 
txtColor = Color del Texto
aColor = Color de links
ahColor = Color de links en estado "hover"
thBG = Color del encabezado de las tablas
thTxColor = Color del texto del encabezado de las tablas
ff = Tipografía (Indicar el número de acuerdo a la siguiente lista)

txtColor = Color del texto.
lblTPaq = Color del título del Item.
lblTRange = Color de la etiqueta de filtros.
lblNumRange = Color de rangos de números en los filtros.
itemBack = Color de fondo del item.
ItemHov = Color de fondo del item al pasar el cursor por encima.
txtColorHov = Color del texto al pasar el cursor por encima.
ff = Tipografía (Indicar el número de acuerdo a la siguiente lista)
FA003F
-->
