<app-nav />
<div class="min-h-[calc(100vh-60px)] pt-[90px]">
  <router-outlet />
</div>
<div class="fixed bottom-6 right-6 sm:bottom-20 sm:right-10 flex flex-col gap-3 z-50 items-end">
        
        <a href="https://www.instagram.com/_magic.travel_" 
           target="_blank" 
           rel="noopener noreferrer"
           class="btn btn-circle border-none text-white shadow-xl bg-gradient-to-r from-[#833ab4] via-[#fd1d1d] to-[#fcb045] transition-all hover:scale-110">
           <fa-icon [icon]="faInstagram" class="text-xl"></fa-icon>
        </a>

        <a href="https://wa.me/525561854542" 
           target="_blank" 
           rel="noopener noreferrer"
           class="btn btn-circle border-none text-white shadow-xl bg-emerald-500 transition-all hover:scale-110">
           <fa-icon [icon]="faWhatsapp" class="text-2xl"></fa-icon>
        </a>

        <a href="https://www.facebook.com/profile.php?id=100063771291356" 
           target="_blank" 
           rel="noopener noreferrer"
           class="btn btn-circle border-none text-white shadow-xl bg-blue-600 transition-all hover:scale-110">
           <fa-icon [icon]="faFacebook" class="text-2xl"></fa-icon>
        </a>

        <a href="https://www.tiktok.com/@magic.travel_" 
           target="_blank" 
           rel="noopener noreferrer"
           class="btn btn-circle border-none text-white shadow-xl bg-black transition-all hover:scale-110">
           <fa-icon [icon]="faTiktok" class="text-2xl"></fa-icon>
        </a>
        
    </div>

<app-footer />
